- hosts: localhost
  gather_facts: no
  become: true
  become_method: sudo
  roles:
    - {name: dotfiles , tags: [dotfiles]}
    - {name: packages , tags: [packages], when: "packages is defined and packages.enabled | bool"}
    - {name: terminal , tags: [terminal, bash, starship]}
    - {name: git , tags: [git], when: "git is defined and git.enabled | bool"}
    - {name: go , tags: [go], when: "go is defined and go.enabled | bool"}
    - {name: yubikey , tags: [yubikey], when: "yubikey is defined and yubikey.enabled | bool"}
    - {name: opensnitch , tags: [opensnitch], when: "opensnitch is defined and opensnitch.enabled | bool"}
    - {name: docker , tags: [docker], when: "docker is defined and docker.enabled | bool"}
    - {name: teamspeak , tags: [teamspeak, ts], when: "ts is defined and ts.enabled | bool"}
    - {name: flutter , tags: [flutter], when: "flutter is defined and flutter.enabled | bool"}
    - {name: grub , tags: [grub], when: "grub is defined and grub.enabled | bool"}
    - {name: seafile , tags: [seafile], when: "seafile is defined and seafile.enabled | bool"}
    - {name: darktable , tags: [darktable], when: "darktable is defined and darktable.enabled | bool"}
    - {name: freecad , tags: [freecad], when: "freecad is defined and freecad.enabled | bool"}
    - {name: keepassxc , tags: [keepassxc, keepass], when: "keepassxc is defined and keepassxc.enabled | bool"}
    - {name: ccc-hub , tags: [hub, ccc, ccc-hub], when: "ccc_hub is defined and ccc_hub.enabled | bool"}
    - {name: glabels , tags: [glabels, printer], when: "glabels is defined and glabels.enabled | bool"}
    - {name: fonts , tags: [fonts], when: "fonts is defined and fonts.enabled | bool"}
    - {name: veracrypt , tags: [veracrypt], when: "veracrypt is defined and veracrypt.enabled | bool"}
    - {name: tlp , tags: [tlp], when: "tlp is defined and tlp.enabled | bool"}
    - {name: direnv , tags: [direnv], when: "direnv is defined and direnv.enabled | bool"}
- hosts: all
  become: yes
  become_method: sudo
  roles:
    - {role: gnome, tags: [gnome], when: "gnome is defined and gnome.enabled | bool"}
    - {role: petermosmans.customize-gnome, tags: [gnome], when: "gnome is defined and gnome.enabled | bool"}
  vars:
    gnome_user: "{{ user }}"
  vars_files:
    - roles/gnome/vars.yml
