[Desktop Entry]
Name=Teamspeak 3 Client
GenericName=Teamspeak
Comment=Speak with friends
Comment[de]=Spreche mit Freunden
Exec={{ user_home_directory }}/TeamSpeak3-Client-linux_amd64/ts3client_runscript.sh
Terminal=false
X-MultipleArgs=false
Type=Application
Icon={{ user_home_directory }}/TeamSpeak3-Client-linux_amd64/logo.png
Categories=Network;
StartupWMClass=TeamSpeak 3
StartupNotify=true