- name: Add deadsnakes PPA
  ansible.builtin.apt_repository:
    repo: ppa:deadsnakes/ppa
  become: true
- name: Install apt packages
  apt:
    pkg:
      - python3.13-full
      - gdal-bin
      - npm
      - virtualenv
    state: latest
    update_cache: true
- name: Install yarn
  community.general.npm:
    name: yarn
    global: true
