[Desktop Entry]
Name=FreeCAD
GenericName=FreeCAD
Comment=CAD
Exec={{ user_home_directory }}/deb/freecad_{{ freecad.version }}.AppImage
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=Construction;
StartupNotify=true