[database]
file=:memory:
max_days=2
purge_interval=5
purge_oldest=false
type=0

[global]
default_action=1
default_duration=6
default_ignore_rules=false
default_ignore_temporary_rules=0
default_popup_advanced=false
default_popup_advanced_dstip=false
default_popup_advanced_dstport=false
default_popup_advanced_uid=false
default_popup_position=0
default_target=0
default_timeout=30
disable_popups=false
theme=

[notifications]
enabled=true
type=0